<header>
  <nav class="level">
    <img class="logo" src="img/logo.png" alt="logo">
  </nav>
</header>
<main>
  <div class="container has-text-centered">
    <p class="title is-size-2-mobile is-size-2-touch is-size-1-tablet is-size-1-desktop m-0">Login</p>
    <div class="columns is-mobile is-centered">
      <div class="column is-three-quarters-mobile is-half-tablet is-half-desktop">
        <form class="login">
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-primary" id="email-input" type="email" placeholder="Email" autocomplete="on"
                autofocus />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-primary" id="password-input" type="password" placeholder="Password"
                autocomplete="off" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <p id="error" class="help has-text-left is-danger"></p>
            </div>
          </div>
          <div class="buttons is-centered">
            <button class="button is-primary m-5" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
    <br />
    <p>Or sign up <a href="/signup">here</a></p>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/login.js"></script>