


form.signup,
form.login {
  margin-top: 50px;
}

.navbar-item{
  font-size: 25px;
  font-weight:bold;
}


#profile{
  font-size: 40px;
}
#first,#last,#lebelemail{
  font-size: 25px;
}

#firstname,#lastname,#useremail{
   font-size: 20px;
   font-weight: 400;
}